.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 60px;
}

.App-header {
  background-color: black;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body{
  margin: 0;
}
canvas{
  border: 1px solid black;
}
.project-text__title {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 6vw;
    margin-bottom: 6px;
    margin-top: 0;
}

.project-text {
    z-index: 5;
    padding: 0 15px;
    text-align: center;
    pointer-events: none;
}

.nav-container, .social-link i, .vertical-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}